/* フォントの定義 */
@font-face {
	font-family: 'site-title';
	src: url(../font/sitetitle.otf);
}
@font-face {
	font-family: 'soukou';
	src: url(../font/SoukouMincho.ttf);
}


:root{
    --box-shadow : 10px 0px  10px rgba(0, 0, 0, 0.412);
    --footer-color : #3155A6;
    --footer-color-deep : #000461;
    
    --nav-color : rgba(0,147,214,0.6);
    --main-color : #3DA9FC;
    --text-color:#094067;
    --sub-color:#90B4CE;
    --acsent-color:#EF4565;
    --backgroud-color:#D8EEFE;
    --para-color:#5f6c7b;
}
/* ページの共通部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
  }

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #494949;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 1.3rem;
    color: var(--text-color);
}
h1{
    color: var(--text-color);
}
h2{
    color: var(--text-color);
}
img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}


/* ヘッダー */
header{
    border-bottom: 2px white solid;
    
}
header .nav{
    color: white !important;
    font-size: x-large;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
}
.nav li{
    font-size: x-large;
    margin-right:15px ;
}
header .title{
    font-family: "site-title";
    font-size:50px;
    color:white !important;
}
.Re{
    font-family: serif;
}
#sumaho_burger{
    z-index: 2;
    background-color: rgb(100, 169, 199);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
}
#sumaho_burger.active{
    pointer-events: all;
    opacity: 1;
    transition: all 0.35s ease;
}
#sumaho_burger ul{
    margin-top:25% ;
}
#sumaho_burger li{
    font-size: 1.7rem;
    line-height: 60px;
}
/* 目次 */
.contents{
    position: absolute;
    right: -250px;
    width: 250px;
    margin-top:20px ;
    border: var(--main-color) solid 5px;
    position: fixed;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    transition: all ease-in-out 0.5s;
}
.contents.active{
    right: 40px;
    transition: all ease-in-out 0.5s;
}
.contents-text{
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
    border-bottom: var(--text-color) 1px dashed;
    align-items: center;
}

.contents ul {
    padding: 0px;
}
.contents ul li{
    list-style: none;
}
.contents ul li a{
    display: flex;
    margin: 2px 6px;
    text-decoration: none;
    color: black;
     position: relative;
    overflow: hidden;
    text-align: center;
}
.contents a:after {
    position: absolute;
    bottom: 8px;
    
    width: 90%;
    height: 3px;
    background-color: var(--main-color);
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
  }
  
  .contents  a:hover:after {
    transform: translate(0, 0);
  }
.contents p{
    font-size: 16px;
    font-weight: bolder;
    
    margin: 8px;
}
.contents-box{
    background-color: var(--main-color);
    width: 2px;
    height: 14px;
    margin: 14px 0;
}

.contents-text img{
    height: 35px;
}

/* kv */
.kv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kv-backgroud{
    width: 100%;
    height: calc(100% + 92px);
    background-color: #10394b;
    display: block;
    
    position: fixed;
    left: 0;
    top: 0;
    opacity: .3;
    z-index: -1;
  }
  .kv .main-copy {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: .2em;
    margin: 30px
  }
  
  .kv .sub-copy {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .time{
    width: 60%;
    
    text-align: center;
    margin: auto;
}
.mini{
    font-size: 0.5em;
}
  .kv h1{
    color: white;
    border-bottom:2px white solid ;
    padding-bottom: 2%;
    font-size: 3rem;
    margin: auto;
    width: 90%;
  }
  .kv h2{
    color: white;
    font-size: 1.8rem;
  }
/* video */
.video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
  }
  

  
  .video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }
/* メインビジュアル */
.full-image {
    width: 100%;
    max-width: 1920px;
    height: 85vh;
    object-fit: cover;
    object-position: 50% 10%;
  }
.over-y{
    overflow-y: hidden;
}
.backgroud_table_1{
    /* width: 100vw; */
    max-width: 1000px;
    padding: 30px 0;
    background-color: var(--backgroud-color);
    margin: auto;
    overflow: hidden;
    box-shadow: var(--box-shadow),-10px 0px  10px rgba(0, 0, 0, 0.412);
}
.backgroud_table_2{
    max-width: 1000px;
    padding: 30px 0;
    overflow: hidden;
    background-color: white;
    margin: auto;
    box-shadow: var(--box-shadow),-10px 0px  10px rgba(0, 0, 0, 0.412);
}
.table_element {
    
    margin:  auto;
    border-radius: 20px;
    transition: all 0.3s;
    width: 90%;
    height: 95%;
    
}
.table_element img{
    border-radius: 20px;
}
.acsent{
    color: var(--acsent-color);
}

.backgroud_table_2 h1{
    text-align: center;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bolder;
    padding: 2%;
}
.backgroud_table_1 h1{
    text-align: center;
    color: var(--text-color);
    font-size: 3rem;
}
.backgroud_table_2 p{
    color: var(--para-color);
    font-size: 1.5rem;
}
.backgroud_table_1 p{
    color: var(--para-color);
    font-size: 1.5rem;
}
.point-p-left {
    font-size: 50px;
    font-family: soukou;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
}

#point-p-right {
    /* margin-top: 5%; */
    width: 65%;
    font-family: soukou;
    /* align-items: center; */
}

.point-p-right p{
    line-height: 50px;
}

.point {
    display: flex;
}
.hello_text p{
    font-size: larger;
}
/* 企画について */
.plan_backgroud{
    background-color: white;
    width: 90%;
    height:300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 5%;
}
.enclosure{
    width: 60px;
    padding: 0px;
    border: var(--text-color) 2px solid;
    border-radius: 10px;
    text-align: center;
    margin: 0 4%;
}
.plan_backgroud h2{
    margin: auto 0;
}
.plan_button{
    background-color: var(--main-color);
    color: white;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
    padding: 1% 15%; 
    font-size: 1.7rem;
    margin: auto;
    
    }
.plan_button:hover{
    transition: all 0.25s ease-in-out;
    transform: translate(5px,5px);
    box-shadow: none;
}
.plan_backgroud p{
    margin: auto;
    font-size: 1.2rem;
}
/* Google Mapを囲う要素 */
.map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 66.6%;
    margin: auto; 
  }
  
  /* Google Mapのiframe */
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* フッター */
.copyright{
    background-color: var(--footer-color-deep);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    padding: 10px;
    color: white;
}
.footer-info{
    background-color: var(--footer-color);
    padding: 10px;
    width: 100%;
    min-height: 250px;
}
.footer-info a{
    text-align: center;
    border-bottom: #fff 1px solid ;
}
.footer-info ul{
    width: 100%;
    text-align: center;
}
.footer-info ul li{
    font-size: 1em;
    line-height: 45px;
    margin-right: 20px;
    display: inline;
}
footer{
    width: 100%;
    min-height: 280px;
    z-index: 3333;
    position: relative;
}
div.address {
    width: 600px;
    text-align: center;
    margin: 20px auto 0px;
    color: white;
}

.logo-ft img{
    width: 50px;
    margin: 10px 10px 10px 0px;
    vertical-align: top;
    display: inline-block;
}
.name-ft{
    width: 250px;
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
}


.name-ft span {
    font-size: small;
    line-height: 14px;
}
@media screen and (max-width: 1124px) {

}
@media screen and (max-width: 768px) {
    header .title{
        font-size: 40px ;
    }
    div.address {
        width: 100% ;
        
    }
    .table_element{
        padding: 5%;
        width: 93%;
    }
    .kv .main-copy{
        font-size: 3rem;
    }
    .fs-5{
        font-size: 1rem !important;
    }
    header .nav{
        font-size: xx-large;
    }
    .time{
        width: 70%;
    }
    .kv h1{
        width: 100%;
        font-size: 2rem;
    }
    .kv h2{
        font-size: 1.7rem;
    }
    .backgroud_table_2 p{
        padding-top: 3%;
        font-size: 1.3rem;
    }
    .backgroud_table_1 p{
        padding-top: 3%;
        font-size: 1.3rem;
    }
    .backgroud_table_1 h1{
        font-size: 2rem;
    }
    .backgroud_table_2 h1{
        font-size: 2rem;
    }
    .plan_button {
        font-size: 1.3rem;
    }
  }