/* フォントの定義 */
@font-face {
	font-family: 'site-title';
	src: url(../font/sitetitle.otf);
}
@font-face {
	font-family: 'soukou';
	src: url(../font/SoukouMincho.ttf);
}
@font-face {
    font-family: "comming";
    src: url(../font/BebasNeue-Regular.ttf);
}
:root{
    --box-shadow : 0 8px 20px rgba(0,0,0,0.2);
    --footer-color : #3155A6;
    --footer-color-deep : #000461;
    --header-color : #0093D6;
    --nav-color : rgba(0,147,214,0.6);
    --nav-font-size:x-large;
    --main-color : #3DA9FC;
    --text-color:#094067;
    --sub-color:#90B4CE;
    --acsent-color:#EF4565;
    --backgroud-color:#D8EEFE;
    --para-color:#5f6c7b;
}
/* ページの共通部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
  }

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #494949;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

/* ヘッダー */
header{
    background-color: var(--header-color);
}
header .nav{
    color: white !important;
    font-size: var(--nav-font-size);
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
}
.nav li{
    font-size: x-large;
    margin-right:15px ;
}
header .title{
    font-family: "site-title";
    font-size:50px;
    color:white !important;
}
.Re{
    font-family: serif;
}
#sumaho_burger{
    z-index: 2;
    background-color: rgb(100, 169, 199);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
}
#sumaho_burger.active{
    pointer-events: all;
    opacity: 1;
    transition: all 0.35s ease;
}
#sumaho_burger ul{
    margin-top:25% ;
}
#sumaho_burger li{
    font-size: 1.7rem;
    line-height: 60px;
}

/* Navbar */
.navbar2{
    width: 100vw;
}
.NAV{
    border: none ;
    color: white !important;
    background-color: var(--nav-color);
    text-align: center;
    font-size: var(--nav-font-size);
}
.NAV a{
    color: white !important;
    width: 100%;
    height: 100%;
    display: block;
}
.NAV.active{
    border: var(--nav-color) 3px solid ;
    color: var(--nav-color) !important;
    background-color: white;
}
.NAV a.active{
    color: var(--nav-color) !important;
}





.back{
    position: absolute;
    top: 69%;
    margin: auto;
    display: inline-block;
    color: white;
    background-color: var(--main-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 1% 10%;
    font-size: 1.4rem;
    -webkit-text-stroke:0px ;
    font-weight: 700;
}
.back_2{
    position: absolute;
    top: 69%;
    margin: auto;
    display: inline-block;
    color: var(--main-color);
    background-color: white;
    border: 3px var(--main-color) solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 1% 10%;
    font-size: 1.4rem;
    font-weight: 700;
    -webkit-text-stroke:0px ;
}
/* list */
.screen_list{
    padding: 2% 0;
}
.list_backgroud{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}
.list_content{
    width: 380px;
    margin: 60px 15px 0;
    height: 560px;
    position: relative;
}
.list_content h1{
    color: var(--footer-color-deep);
    font-size: 1.8rem;
    margin-bottom: 0;
}
.list_img{
    border-radius: 10px;
    width: 100%;
    height: 0;
    padding: 62.69% 0 0;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    max-height: 280px;
}
.list_genre{
    background-color: var(--footer-color-deep);
    color: white;
    text-align: center;
    padding: 1% 3%;
    font-size: large;
    margin-right: 10px;
}
.list_content h3{
    margin-top: 2%;
    font-size: large;
    color: var(--para-color);
}
.list_content p{
    color: var(--acsent-color);
    font-size: 1.1rem;
}
.list_button{
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    border: var(--footer-color-deep) 2px solid;
    color: var(--footer-color-deep);
    text-align: center;
    border-radius: 60px;
    margin: auto;
    margin-top: auto;
    max-width: 340px;
    font-weight: 700;
    bottom: 0;
    left: 70px;
}
/* map */
.screen_map{
    color: var(--header-color);
    width: 100vw;
    text-align: center;
}
.maptemp{
    max-width: 900px;
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
}
.maptemp img{
    margin: auto;
    max-height: 500px;
}
.maptemp ol{
    counter-reset:list;
    list-style-type:none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding:0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .maptemp ol li{
    width: 50%;
    position:relative;
    margin: 7px 10px 7px 0px;
    padding-left:40px;
    font-weight: bold;
    font-size:18px;
    line-height: 30px;
    border: solid 1px var(--main-color);
    border-radius:20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .maptemp ol li:before{
    counter-increment: list;
    content: counter(list);
    font-size: 20px;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height:30px;
    background: var(--main-color);
    border-radius: 50%;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #outside{
    height: 370px;
  }
  #n20::before{counter-increment: list 20; content: counter(list);}
  #n25::before{counter-increment: list 25; content: counter(list);}
  #n29::before{counter-reset: list 0; counter-increment: list 29; content: counter(list);}
  #n292::before{counter-reset: list 0; counter-increment: list 29; content: counter(list);}
  #n32::before{counter-reset: list 0; counter-increment: list 32; content: counter(list);}
  #n17::before{ counter-increment: list 17; content: counter(list);}
  #n28::before{counter-reset: list 0; counter-increment: list 28; content: counter(list);}
  #n27::before{counter-reset: list 0; counter-increment: list 27; content: counter(list);}
  #n31::before{counter-reset: list 0; counter-increment: list 31; content: counter(list);}
  #n19::before{counter-reset: list 0; counter-increment: list 19; content: counter(list);}
  #n16::before{counter-reset: list 0; counter-increment: list 16; content: counter(list);}
  #n30::before{counter-reset: list 0; counter-increment: list 30; content: counter(list);}
  #n26::before{counter-reset: list 0; counter-increment: list 26; content: counter(list);}
  #n23::before{ counter-increment: list 23; content: counter(list);}
  .maptemp ol li:hover{
    background: var(--main-color);
    color: #fff;
  }
  .maptemp ol li:hover:before{
    background: #fff;
    color: var(--main-color);
  }
.map_headline{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 10px;
}
.map_headline h1{
    margin: 0;
    font-size: 3rem;
}
/* 数字 */
.number{
    position: absolute;
    background-color: #FF3366;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.384) 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 2rem;
}
.number::after{
    content: "";
    padding-top: 100%;
    display: block;
}
.Dnumber{
    background-color: #FF3366;
    color: white;
    display: inline-block;
    height: 60px;
    width: 60px;
}
#n1{top: 74%; left: 34%;}#n2{top: 78%; left: 56%;}#n3{top: 59%; left: 44%;}
#n4{top: 4%; left: 23%;}#n5{top: 13%; left: 2%;}
/* フッター */
.copyright{
    background-color: var(--footer-color-deep);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    padding: 10px;
    color: white;
}
.footer-info{
    background-color: var(--footer-color);
    padding: 10px;
    width: 100%;
    min-height: 250px;
}
.footer-info a{
    text-align: center;
    border-bottom: #fff 1px solid ;
}
.footer-info ul{
    width: 100%;
    text-align: center;
}
.footer-info ul li{
    font-size: 1em;
    line-height: 45px;
    margin-right: 20px;
    display: inline;
}
footer{
    width: 100%;
    min-height: 280px;
    z-index: 3333;
    position: relative;
}
div.address {
    width: 600px;
    text-align: center;
    margin: 20px auto 0px;
    color: white;
}
.footer-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.logo-ft img{
    width: 50px;
    margin: 10px 10px 10px 0px;
    vertical-align: top;
    display: inline-block;
}
.name-ft{
    width: 250px;
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
}


.name-ft span {
    font-size: small;
    line-height: 14px;
}
@media screen and (max-width: 1220px) {
    .list_content h1 {
        font-size: 32px
    }
    .list_content h3 {
        height: 75px;
    }
}

@media screen and (max-width: 992px) {
    header .title{
        font-size: 40px ;
    }
    div.address {
        width: 100% ;
        
    }
    .element_map,
    .element_plan,
    .table_element{
        padding: 5%;
        width: 93%;
    }
    
    header .nav{
        font-size: xx-large;
    }
    .back{
        font-size: 1rem;
    }
    .back_2{
        font-size: 1rem;
    }
    .list_content{
        height: auto;
        margin-top: 20px;
    }
    .list_content h3{
        height: auto;
    }
    
    .maptemp img{
        margin: auto;
        
    }
    .footer-info img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
  }
  @media screen and (max-width: 900px) {
    .number{
        width: 6vw;
        font-size: 4vw;
        box-shadow: rgba(0, 0, 0, 0.384) 2px 2px 2px;
    }
    #n1{top: 70%; left: 34%;}#n2{top: 77%; left: 55%;}#n3{top: 57%; left: 45%;}
    #n4{top: 6%; left: 24%;}#n5{top: 15%; left: 4%;}
    .map_headline h1{
        margin: 0;
        font-size: 2rem;
    }
    .Dnumber{
        height: 38px;
        width: 38px;
        font-size: 2rem;
    }
    .maptemp ol{
        height: auto;
    }
    .maptemp ol li{
        width: 100%;
        margin: 3px 0px 3px 0px;
        font-size: 13px;
    }
    .screen_map{
        padding: 0 5%;
    }
    #outside{
        height: auto;
      }
  }

