/* フォントの定義 */
@font-face {
	font-family: 'site-title';
	src: url(../font/sitetitle.otf);
}
@font-face {
	font-family: 'soukou';
	src: url(../font/SoukouMincho.ttf);
}
:root{
    --box-shadow : 0 8px 20px rgba(0,0,0,0.2);
    --footer-color : #3155A6;
    --footer-color-deep : #000461;
    --header-color : #0093D6;
    --nav-color : rgba(0,147,214,0.6);
    --nav-font-size:x-large;
}
/* ページの共通部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
  }

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #494949;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

/* ヘッダー */
header{
    background-color: var(--header-color);
}
header .nav{
    color: white !important;
    font-size: var(--nav-font-size);
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
}
.nav li{
    font-size: x-large;
    margin-right:15px ;
}
header .title{
    font-family: "site-title";
    font-size:50px;
    color:white !important;
}
.Re{
    font-family: serif;
}
.burger{
    z-index: 2;
    background-color: rgb(100, 169, 199);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
}
.burger.active{
    pointer-events: all;
    opacity: 1;
    transition: all 0.35s ease;
}
.burger ul{
    margin-top:25% ;
}
.burger li{
    font-size: 1.7rem;
    line-height: 60px;
}
/* Navbar */
.navbar2{
    width: 100vw;
}
.NAV{
    border: none ;
    color: white !important;
    background-color: var(--nav-color);
    text-align: center;
    font-size: var(--nav-font-size);
}
.NAV a{
    color: white !important;
    width: 100%;
    height: 100%;
    display: block;
}
.NAV.active{
    border: var(--nav-color) 3px solid ;
    color: var(--nav-color) !important;
    background-color: white;
}
.NAV a.active{
    color: var(--nav-color) !important;
}


.screen_list{
    font-size: 10vw;
    width: 100vw;
    height: 80vh;
    font-family: "comming";
    -webkit-text-stroke: var(--header-color) 2px ;
    color: white;
}
/* 企画マップ */
.screen_map{
    color: var(--header-color);
    font-size: 10vw;
    width: 100vw;
    font-family: fantasy;
}

.element_map{
    padding: 20px;
    margin: 10px auto;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all 0.3s;
    width: 80%;
    background-color:white ;
    color: black;
    text-align: center;
}
.element_map img{
    float:inline-end;
}
/* 企画一覧 */
.screen_list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    width: 100vw;
    height: 80vh;
    color: white;
}
/* フッター */
.copyright{
    background-color: var(--footer-color-deep);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    padding: 10px;
    color: white;
}
.footer-info{
    background-color: var(--footer-color);
    padding: 10px;
    width: 100%;
    min-height: 250px;
}
.footer-info a{
    text-align: center;
    border-bottom: #fff 1px solid ;
}
.footer-info ul{
    width: 100%;
    text-align: center;
}
.footer-info ul li{
    font-size: 1em;
    line-height: 45px;
    margin-right: 20px;
    display: inline;
}
footer{
    width: 100%;
    min-height: 280px;
    z-index: 3333;
    position: relative;
}
div.address {
    width: 600px;
    text-align: center;
    margin: 20px auto 0px;
    color: white;
}

.logo-ft img{
    width: 50px;
    margin: 10px 10px 10px 0px;
    vertical-align: top;
    display: inline-block;
}
.name-ft{
    width: 250px;
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
}


.name-ft span {
    font-size: small;
    line-height: 14px;
}
@media screen and (max-width: 768px) {
    header .title{
        font-size: 40px ;
    }
    div.address {
        width: 100% ;
        
    }
    .table_element{
        padding: 5%;
        width: 93%;
    }
    header .nav{
        font-size: xx-large;
    }
  }