/* フォントの定義 */
@font-face {
	font-family: 'site-title';
	src: url(../font/sitetitle.otf);
}
@font-face {
	font-family: 'soukou';
	src: url(../font/SoukouMincho.ttf);
}
:root{
    --box-shadow : 0 8px 20px rgba(0,0,0,0.2);
    --footer-color : #3155A6;
    --footer-color-deep : #000461;
    --header-color : #0093D6;
    --nav-color : rgba(0,147,214,0.6);
}
/* ページの共通部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
  }

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #494949;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

/* ヘッダー */
header{
    background-color: var(--header-color);
}
header .nav{
    color: white !important;
    font-size: x-large;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
}
.nav li{
    font-size: x-large;
    margin-right:15px ;
}
header .title{
    font-family: "site-title";
    font-size:50px;
    color:white !important;
}
.Re{
    font-family: serif;
}
.burger{
    z-index: 2;
    background-color: rgb(100, 169, 199);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
}
.burger.active{
    pointer-events: all;
    opacity: 1;
    transition: all 0.35s ease;
}
.burger ul{
    margin-top:25% ;
}
.burger li{
    font-size: 1.7rem;
    line-height: 60px;
}
/* 見出し */
.headline{
    
    width: 100vw;
    max-height:56vh ;
    position: relative;
}
.headline img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 56vh;
}
.headline h1{
    font-size: 6vw;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-right: 20%;
    max-height: 56vh;
    color: white;
}
.headline p{
    margin-top: 1%;
    font-size: 1.3vw;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    padding-right: 20%;
}
/* バスの運公表 */
.backgroud_table{
    width: 100vw;
    padding: 30px 0;
    background-color: white;
}
.table_element {
    padding: 30px 50px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all 0.3s;
    width: 80%;
    height: 95%;
    background-color:white ;
}
.table_element:hover {
    transform: scale(1.01, 1.01);
    transition: all ease 0.3s;
}
.table_element h1{
    border-bottom: black 4px solid;
    
}
/* Google Mapを囲う要素 */
.map {
    position: relative;
    width: 70%;
    height: 0;
    padding-top: 45%;
    margin: auto; 
  }
  
  /* Google Mapのiframe */
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* フッター */
.copyright{
    background-color: var(--footer-color-deep);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    padding: 10px;
    color: white;
}
.footer-info{
    background-color: var(--footer-color);
    padding: 10px;
    width: 100%;
    min-height: 250px;
}
.footer-info a{
    text-align: center;
    border-bottom: #fff 1px solid ;
}
.footer-info ul{
    width: 100%;
    text-align: center;
}
.footer-info ul li{
    font-size: 1em;
    line-height: 45px;
    margin-right: 20px;
    display: inline;
}
footer{
    width: 100%;
    min-height: 280px;
    z-index: 3333;
    position: relative;
}
div.address {
    width: 600px;
    text-align: center;
    margin: 20px auto 0px;
    color: white;
}

.logo-ft img{
    width: 50px;
    margin: 10px 10px 10px 0px;
    vertical-align: top;
    display: inline-block;
}
.name-ft{
    width: 250px;
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
}


.name-ft span {
    font-size: small;
    line-height: 14px;
}
@media screen and (max-width: 1124px) {
    .map {
        width: 90%;
        padding-top: 60.6%; /* 比率を3:2に固定 */
      }
}
@media screen and (max-width: 768px) {
    header .title{
        font-size: 40px ;
    }
    div.address {
        width: 100% ;
        
    }
    .table_element{
        padding: 5%;
        width: 93%;
    }
    .fs-5{
        font-size: 1rem !important;
    }
    .table_element h1{
        font-size: 1.4rem;
    }
    header .nav{
        font-size: xx-large;
    }
    .map {
        width: 100%;
        padding-top: 66.6%; /* 比率を3:2に固定 */
      }
  }